{% extends "auctions/layout.html" %}

{% block script %}

{% endblock %}

{% block body %}
    <h2>Active Listings</h2>

    <br><br>

    {% if listings %}


        {% for listing in listings %}

            <div class="container" style="max-width: 99%">

                <div class="row" style="margin-bottom:8vh">         
                    

                    <div class="col-sm" style="align-items: center">

                        <img src={{listing.imgURL}} height=200vh style="padding:5px;">

                    </div>
        
                   
                    <div class="col-sm" style="padding-left:15px"> 

                        <h2>{{listing.Title}}</h2>

                        <h5>Price: ${{listing.Price}}</h5> 

                        <br><br>

                        <a href="{% url 'item_page' listing.id %}">View Item</a>

                    </div>

                                              
                    <div class="col-sm">

                        <h4>Description:</h4>

                        <p>{{listing.Description}}</p>
                        
                    </div>
                       

                </div>
        

            </div>
        
        {% endfor %}

    {% else %}

        No items
    
    {% endif %}


{% endblock %}