{% extends "auctions/layout.html" %}


{% block body %}

    <div class="container">

        <h1>{{item.Title}}</h1>

        <div class="row"> 

            <div class="col"> 


                <img src="{{item.imgURL}}" height="500vh"  style="padding:10px;" alt="item picture">

            </div>

            <div class="col"> 

                <br>

                <h3>${{current_bid.Value}}</h3>

                <br>

                <p>{{item.Description}}</p>

                <br>

                {% if item.winner %}

                    <h3>listing no longer active</h3>

                    {% if you_won %}

                        <br>

                        <h3>{{item.winner}}, you were the highest bidder</h3>

                        <h2>Congrats!!!</h2>

                    {% endif %}

                    {% if your_item %}

                    <h3>You sold this item to {{item.winner}}</h3>

                    {% endif %}

                {% else %}
        
                    {% if bid_winning_so_far %}

                        <p>{{bids_so_far}} bid(s) so far. Your bid is the current bid.</p>

                    {% else %}

                        <p>{{bids_so_far}} bid(s) so far.</p>

                    {% endif %}


                    {% if user.is_authenticated %}

                        {% if your_item == False %}

                            <form action="{% url 'Bid' item.id %}" method="post"> 

                                {% csrf_token %}

                                <input type="integer" placeholder="bid" name="bid_made">

                                <button type="submit">Bid</button>

                            </form>
                        
                        {% endif %}

                        <br>

                        {% if watchlist_items  %}

                            <form action="{% url 'RemoveWatchlist' item.id %}" method="post">

                                {% csrf_token %}

                                <button type="submit">Remove from Watchlist</button>
                                
                            </form>

                        {% else %}

                            {% if your_item == False %}

                                <form action="{% url 'WatchlistAdd' item.id %}" method="post">

                                    {% csrf_token %}

                                    <button type="submit">Add to Watchlist</button>
                                
                                </form>

                            {% endif %}


                        {% endif %}

                    {% endif %}

                    {% if your_item %}

                        <form action="{% url 'delete_item' item.id %}" method="post">
                            
                            {% csrf_token %}

                            <button>Delete Item</button>

                        </form>

                        <br>

                        <form action="{% url 'close' item.id %}" method="post">
                            
                            {% csrf_token %}

                            <button>Close Listing</button>

                        </form>
                
                    {% endif %}

                {% endif %}

                <br>

                <h3>Comments</h3>

                {% if user.is_authenticated %}

                        <form action="{%  url 'add_comment' item.id %}" method="post">

                            {% csrf_token %}

                            <p>add comment</p>
                        
                            <input type="text" name="comment">

                            <button type="submit">post</button>

                        </form>

                {% endif %}

                <ul>
                    {% for comment in comments_of_item %}

                    <li>{{comment.user}}: {{comment.entry}}</li>

                    {% endfor %}
                </ul>
                
            

            </div>

        </div>

    </div>

{% endblock %}